@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agregar estilos personalizados si es necesario */

@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slide-out {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  .animate-slide-in {
    animation: slide-in 0.3s ease-out forwards;
  }
  
  .animate-slide-out {
    animation: slide-out 0.3s ease-out forwards;
  }